/* Css document of Prisionstruggle.com - Sosfactory Design */

/*TELMO*/	
	
/*FOR IE*/
.mainbox {
	width:695px;
	margin:0 0 0 15px;
	float:left;
	height:auto;
	background:#706e57;
	border:1px solid #434234;
	border-bottom:19px solid #434234;
	border-top:none;
	padding:0 14px 15px 14px;
	color:#141207;
}

/*FOR OTHERS*/
html>/**/body .mainbox {
	width:649px;
	margin:0 0 0 25px;
	float:left;
	height:auto;
	background:#706e57;
	border:1px solid #434234;
	border-bottom:19px solid #434234;
	border-top:none;
	padding:0 14px 15px 14px;
	color:#141207;
}

/*FOR IE*/
.contenthead {
	color:#96926f;
	font-weight:bold;
	display:block;
	background:#434234;
	width:646px;
	height:17px;
	padding:2px 0 2px 15px;
	/*margin:8px 0 8px 0;*/
}
/*FOR OTHERS*/
html>/**/body .contenthead {
	color:#96926f;
	font-weight:bold;
	display:block;
	background:#434234;
	width:646px;
	height:17px;
	padding:4px 0px 0px 15px;
	margin:8px 0 8px 0;
}

.rpHeaderRow {
	background-color: #706157;
}

.rpEvenRow {
	background-color: #706b57;
}

.rpOddRow {
	background-color: #706557;
}

.bSection {
	color: white;
	width: 94%;
	background: #660033;
	padding: 2px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

.contentcontent {
	padding-left: 15px;
	padding-right: 5px;
	/* Fix for when we dont have any content head */
	display:block;
	width:641px;
}

.button {
	border: 1px solid #28271f;
	color: white;
	background-color: #434234;
	cursor: pointer;
}

.area
{
	background-color: #AAAAAA;
	width:100%;
}

/*END TELMO*/

body{
	background:url(images/whole-bg.jpg) center top repeat-x #4d4b34;
	margin:0px;
	padding:0px;
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:11px;
	}
	
h1, h2, h3, p{
	margin:0;
	padding:0;
	}
	
h1{
	color:#96926f;
	font-weight:bold;
	display:block;
	background:#434234;
	width:653px;
	height:17px;
	padding:4px 0 0 15px;
	margin:0;
	font-size:11px;
	}
	
img {
	border:none;
	margin:0;
	vertical-align: middle;
	}
		
/* Links */
a {
	outline-style:none;
	text-decoration:none;
	color:#cdc6a2;
	}
	
a:visited {
	color:#cdc6a2;
	}
	
a:hover, a:active {
	color:#ffcc66;
	}	
	
/* Whole Container */
#whole-container {
	width:997px;
	height:auto;
	overflow:auto;
	margin:0 auto;
	padding:0;
	}
	
/* Header */
#header-image {
	width:100%;
	height:198px;
	background:url(images/header-image1.jpg) no-repeat center;
}

#header {
	width:997px;
	height:198px;
	margin:0 auto;
	padding:0;
	}
	
#header .link-logo{
	position:relative;
	top:50px;
	left:48px;
	display:block;
	text-indent:-9999px;
	cursor:pointer;
	width:287px;
	height:82px;
	padding:0;
	}
	
#header .text{
	position:relative;
	top:98px;
	right:30px;
	float:right;
	}
	
/* Wrapper */
#content {
	position:relative;
	width:995px;
	height:auto;
	border-right:1px solid #0d0c09;
	border-left:1px solid #0d0c09;
	background:#676550;
	margin:0 auto;
	overflow:auto;
	padding:0;
	}
	
/* Sidebar */
#sidebar {
	position:relative;
	float:left;
	left:5px;
	top:-7px;
	width:254px;
	height:auto;
	margin:0;
	padding:0;
	}
	
/* Sidebar
	- Profile */
#profile {
	width:254px;
	height:196px;
	margin:0;
	padding:57px 0 0 0;
	background:url(images/profile-bg-swap.jpg) no-repeat;
	} 
	
#profile .top-information{
	width:auto;
	height:auto;
	padding:0 0 0 28px;
	margin:0;
	color:#141207;
	line-height:15px;
	_line-height:16px;
	}
	
#profile .top-information img{
	vertical-align:middle;
	}
	
#profile .top-information a, #profile .top-information a:visited{
	color:#cdc6a2;
	font-weight:bold;
	text-decoration:underline;
	} 
	
#profile .top-information a:hover{
	color:#fed872;
	}
	
#profile .top-information .image-float{
	float:left;
	margin:0 5px 0 0;
	border:1px solid #000;
	}
	
#profile .bottom-information{
	width:155px;
	height:auto;
	padding:0;
	margin:10px auto 0 auto;
	text-align:right;
	color:#141207;
	line-height:15px;
	_line-height:16px;
	}
	
#profile .bottom-information img{
	vertical-align:middle;
	margin:0 0 3px 8px;
	}
	
#profile .btn{
	width:151px;
	height:19px;
	margin:8px auto 0 auto;
	padding:4px 0 0 0;
	color:#8f8d76;
	background:url(images/bottom-information-btn-bg.jpg) no-repeat;
	}
	
#profile .btn a, #profile .btn a:visited{
	color:#8f8d76;
	}
	
#profile .btn a:hover{
	color:#cdc6a2;
	}
	
#profile .btn ul{
	margin:0;
	padding:0;
	list-style:none;
	}
	
#profile .btn ul li{
	height:auto;
	float:left;
	text-align:center;
	}
	
#profile .btn .preference{
	width:87px;
	}
	
#profile .btn .log{
	width:64px;
	}

/* Sidebar
	- MenuADM */
#MenuADM {
	width:254px;
	height:auto;
	margin:0;
	padding:0;
	background:url(images/menu-bg.jpg) bottom no-repeat;
	padding:0 0 35px 0;
	}
	
#MenuADM #title{
	background:url(images/admin.jpg) no-repeat;
	width:254px;
	height:47px;
	padding:0;
	margin:0;
	}
	
#MenuADM ul{
	padding:0 0 0 20px;
	margin:0;
	list-style:none;
	background:url(images/menu-list-bg.jpg) repeat-y;
	}
	
#MenuADM ul li {
	_width:218px;
	_height:22px;
	}

#MenuADM ul li a{
	display:block;
	width:193px;
	height:17px;
	color:#141207;
	background:url(images/list-bullet-off.jpg) no-repeat;
	background-position:10px 7px;
	padding:5px 0 0 25px;
	margin:0 0 2px 0;
	font-size:12px;
	}
	
#MenuADM ul li a:hover{
	background:url(images/menu-list-bg-hover.jpg) no-repeat;
	color:#fed872;
	}
	
#MenuADM ul li a {
	color:#141207;
	}
	
/* Sidebar
	- MenuADM1 */
#MenuADM1 {
	width:254px;
	height:auto;
	margin:0;
	padding:0;
	background:url(images/menu-bg.jpg) bottom no-repeat;
	padding:0 0 35px 0;
	}
	
#MenuADM1 #title{
	background:url(images/moderators.jpg) no-repeat;
	width:254px;
	height:47px;
	padding:0;
	margin:0;
	}
	
#MenuADM1 ul{
	padding:0 0 0 20px;
	margin:0;
	list-style:none;
	background:url(images/menu-list-bg.jpg) repeat-y;
	}
	
#MenuADM1 ul li {
	_width:218px;
	_height:22px;
	}

#MenuADM1 ul li a{
	display:block;
	width:193px;
	height:17px;
	color:#141207;
	background:url(images/list-bullet-off.jpg) no-repeat;
	background-position:10px 7px;
	padding:5px 0 0 25px;
	margin:0 0 2px 0;
	font-size:12px;
	}
	
#MenuADM1 ul li a:hover{
	background:url(images/menu-list-bg-hover.jpg) no-repeat;
	color:#fed872;
	}
	
#MenuADM1 ul li a {
	color:#141207;
	}	
	
/* Sidebar
	- Menu */
#Menu {
	width:254px;
	height:auto;
	margin:0;
	padding:0;
	background:url(images/menu-bg.jpg) bottom no-repeat;
	padding:0 0 35px 0;
	}
	
#Menu #title{
	background:url(images/menu-title.jpg) no-repeat;
	width:254px;
	height:47px;
	padding:0;
	margin:0;
	}
	
#Menu ul{
	padding:0 0 0 20px;
	margin:0;
	list-style:none;
	background:url(images/menu-list-bg.jpg) repeat-y;
	}
	
#Menu ul li {
	_width:218px;
	_height:22px;
	}

#Menu ul li a{
	display:block;
	width:193px;
	height:17px;
	color:#141207;
	background:url(images/list-bullet-off.jpg) no-repeat;
	background-position:10px 8px;
	padding:5px 0px 0px 25px;
	margin:0 0 2px 0;
	font-size:12px;
	}
	
#Menu ul li a:hover{
	background:url(images/menu-list-bg-hover.jpg) no-repeat;
	color:#fed872;
	}
	
#Menu ul li a {
	color:#141207;
	}
	
/* Principal Content
	- Fixed */
	
/*FOR IE*/	
#content-fidex {
	border:1px solid #434234;
	border-bottom:none;
	float:left;
	width:693px;
	height:auto;
	background:#706e57;
	margin:0 0 0 15px;
	}

/*FOR others*/		
html>/**/body #content-fidex {
	border:1px solid #434234;
	border-bottom:none;
	float:left;
	width:693px;
	height:auto;
	background:#706e57;
	margin:0 0 0 25px;
	}	
	
/* Principal Content
	- News */	
#news {
	width:693px;
	height:17px;
	border-bottom:1px solid #434234;
	margin:0;
	padding:3px 0 0 10px;
	text-align:left;
	}
	
#news a{
	color:#ccc7a1;
	}
	
#news a:hover{
	color:#fed872;
	}
	
/* Principal Content
	- Sub Menu */	
#sub-menu {
	width:693px;
	height:94px;
	margin:0;
	padding:0;
	background:#434234;
	}	

/* Principal Content
	- Sub Menu 1 */		
#best-inmates {
	width:344px;
	height:94px;
	float:left;
	padding:0;
	/*background:#28271f url(images/sub-menu-1-bg.jpg) left no-repeat;*/
	text-align:center; 
	}
	
#best-inmates a, #best-inmates a:visited{
	color:#96926f;
	text-decoration:underline;
	}
	
#best-inmates a:hover {
	color:#ccc7a1;
	text-decoration:underline;
	}
	
#best-inmates ul {
	margin:0;
	padding:0 0 0 30px;
	list-style:none;
	}
	
#best-inmates ul li{
	width:75px;
	height:10px;
	float:left;
	display:block;
	margin:6px 0 0 0;
	padding:53px 0 0 0;
	text-align:center;
	}
	
#best-inmates .gold {
	background:url(images/sub-menu-gold.jpg) no-repeat top;
	}
	
#best-inmates .silver {
	background:url(images/sub-menu-plate.jpg) no-repeat top;
	background-position:29px 0;
	padding:53px 25px 0 25px;
	}
	
#best-inmates .bronce {
	background:url(images/sub-menu-bronce.jpg) no-repeat top;
	background-position:3px 0;
	}

/* Best level
*/	

/* Principal Content
	- Sub Menu 1 */		
#best-level {
	width:344px;
	height:94px;
	float:left;
	padding:0;
	background:#28271f url(images/best-level.png) left no-repeat;
	text-align:center; 
	}
	
#best-level a, #best-level a:visited{
	color:#96926f;
	text-decoration:underline;
	}
	
#best-level a:hover {
	color:#ccc7a1;
	text-decoration:underline;
	}	
	
#best-level ul {
	margin:0;
	padding:0 0 0 46px;
	list-style:none;
	}
	
#best-level ul li{
	width:75px;
	height:10px;
	float:left;
	display:block;
	margin:6px 0 0 0;
	padding:53px 0 0 0;
	text-align:center;
	}
	
#best-level .gold {
	background:url(images/sub-menu-gold.jpg) no-repeat top;
	}
	
#best-level .silver {
	background:url(images/sub-menu-plate.jpg) no-repeat top;
	background-position:29px 0;
	padding:53px 25px 0 25px;
	}
	
#best-level .bronce {
	background:url(images/sub-menu-bronce.jpg) no-repeat top;
	background-position:3px 0;
	}
	
/* Principal Content
	- Sub Menu 2 */		
#navbar {
	/*width:349px;*/
	width:320px;
	height:94px;
	float:left;
	margin:0;
	padding:0;
	background:#434234;
	text-align:center; 
	}
	
#navbar a, #navbar a:visited{
	color:#96926f;
	}
	
#navbar a:hover {
	color:#fed872;
	}
	
#navbar ul {
	margin:0;
	padding:5px 0 0 25px;
	list-style:none;
	}
	
#navbar ul li{
	width:82px;
	height:9px;
	float:left;
	padding:52px 0 0 0;
	display:block;
	margin:7px 0 0 0;
	padding:53px 0 0 0;
	text-align:center;
	}
	
#navbar .arrow{
	background:url(images/sub-menu-2-arrow.jpg) center top no-repeat;
	background-position:13px 0;
	}
	
#navbar .head{
	padding:52px 26px 0 26px;
	background:url(images/sub-menu-2-head.jpg) center top no-repeat;
	}
	
#navbar .hart{
	background:url(images/sub-menu-2-hart.jpg) center top no-repeat;
	background-position:13px 0;
	width:79px;
	}
	
/* Principal Content
	- Variable */
#content-variable {
	width:665px;
	margin:0 0 0 25px;
	float:left;
	height:auto;
	background:#706e57;
	border:1px solid #434234;
	border-bottom:19px solid #434234;
	border-top:none;
	padding:0 14px 15px 14px;
	/*padding:0 12px 15px 13px;*/
	color:#141207;
	}
	
#content-variable img{
	margin:0 auto;
	display:block;
	}
	
#content-variable h1{
	margin:12px 0 15px 0;
	}
	
#content-variable ul{
	list-style:none;
	margin:0;
	padding:0;
	color:#141207;
	}
	
.margen-mini{
	padding:0 0 30px 18px;
	width:111px;
	float:left;
	display:block;
	font-size: 12px;
	}		
	
.margen{
	padding:0 0 30px 24px;
	width:110px;
	float:left;
	display:block;
	font-size: 12px;
	}		
	
#content-variable ul li a, #content-variable ul li a:visited{
	color:#cdc6a2;
	}
	
#content-variable ul li a:hover {
	color:#fed872;
	}
	
/* Footer */
#footer {
	width:953px;
	height:76px;
	clear:both;
	margin:10px auto 20px auto;
	padding:10px 0 0 0;
	text-align:center;
	border:1px solid #434234;
	background:#706e57;
	color:#141207;
	}
	
#footer a, #footer a:visited{
	color:#cdc6a2;
	}
	
#footer a:hover {
	color:#cdc6a2;
	}
	
#footer .bottom {
	width:943px;
	height:16px;
	display:block;
	position:relative;
	bottom:-8px;
	text-align:left;
	margin:10px 0 0 0;
	padding:3px 0 0 10px;
	font-size:10px;
	background:#434234;
	color:#141207;
	}
	
#footer .bottom a{
	color:#141207;
	}

table .cleanTable {
	border-collapse: collapse;
	padding: 3px;
}

.headerCell {
	border-bottom: 1px solid #000000;
	font-weight:bold;
	padding: 4px;
}

.oddRow {
	background: #706e57;
}

.evenRow {
	background: #807e67;
}

.solidRow {
	border-bottom: 1px solid #000000;
	padding: 3px;
}

.dottedRow {
	border-bottom: 1px dotted #444444;
	padding: 3px;
}

.normalColumn {
	padding: 3px;
}

.dottedColumn {
	border-left: 1px dotted #444444;
	padding: 3px;
}
	
.advBtn {
	cursor: pointer;
	border: 1px solid #706e57;
}

.advBtn:hover {
	cursor: pointer;
	border: 1px dashed darkred;
}

/**CSS style for paging */
.paging {
	text-align: center;
}
.paging a {
	padding-left: 3px;
}
.paging span {
	padding-left: 3px;
	font-weight: bold;
}

/**CSS style for draging and droping sortables **/
.dragHandle{
	width: 16px;
	cursor: move;
	background: url('../images/buttons/layers.png') no-repeat left center;
}

.tDnD_whileDrag{
	background: #807e67;
}

/**auto complete **/

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../images/wait.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


/**colors **/
.darkred {
	color: darkred;
}
.darkgreen {
	color: darkgreen;
}
.golden {
	color: goldenrod;
}



.collapser {
	padding:5px;
	border:0px dotted #583414;
	cursor:hand;cursor:pointer;
}

.dialog{
    border: 1px solid #434234;
    background: #706E57;
    position: absolute;
}
.dialog .dialog_title{
    background: #434234;
    color: #96926F;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    cursor: move;
}

.dialog .dialog_title a.close{
    display: block;
    float:right;
    width: 30px;
    height: 10px;
}
.dialog .dialog_body{
    text-align: left;
    padding:5px;
}

.small_button {
    font-size: 10px;
    border: 1px solid #28271f;
    color: white;
    background-color: #434234;
    cursor: pointer;
    padding:2px;
    margin:0;
}

#effects{
    border:1px solid #434234;
    border-bottom:none;
    border-top:0px none;
    float:left;
    width:693px;
    height:auto;
    background:#706E57;
    padding-top: 5px;
    margin:0 0 0 15px;
}
/*FOR others*/        
html>/**/body #effects {

    margin:0 0 0 25px;
    }    
    
#effects .head {
    display: block;
    width: 40px;
    background: #28271f;
    padding-left: 10px;
    color: #96926f;
    line-height: 32px;
    float: left;
}

#effects .content {
    display: block;
    background: #434234;
    color: #96926f;
    padding-left: 60px;
}

#effects .content img{
    padding: 5px 2px;
    height: 22px;
}

.hand{
    cursor: pointer !important;
    cursor: hand;
}

.progressbarwrap{
    position: relative;
    padding:0;
    width: 100px;
    height: 10px;
    float:left;
    border: 1px solid #000000;
}
.progressbarwrap .progressbarcanvas{
    position: absolute;
    top:0px;
    left:0px;
}
.progressbarwrap .progressbar{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #706e57;
    top:0px;
    right:0px;
}
.progressbarwrap .progressbartext{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    top:0px;
    right:0px;
    font-size: 8px;
    text-align: center;
}

.modeltrans{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:white;
}

fieldset {
     -moz-border-radius: 8px;
      border-radius: px; 
      border: 1px solid #434234;
}

.clear{
    clear: both;
}

.cross_cell{
    display: block;
    width:35px;
    height: 25px;
    font-size: 14px; 
    float: left;
    text-align: center;
    line-height: 25px;
    text-transform: capitalize;;
    border-collapse: collapse;
    margin: -1px -1px 0 0 ;
}

.cross_cell_border{
    border: 1px solid black;
    width:33px;
}
.cross_cell_hl{
    font-weight: bold;
    color: darkred;
}

.colorbox {
    display: block;
    float: left;
    padding: 1px 5px;
    margin: 0px 1px;
    font-weight: bold;
    border: 1px solid #d2d2d2;
}

.chatcolor1{
    background: #000000;
    color: #FFFFFF;
}

.chatcolor2{
    background: #FFFFFF;
    color: #000000;
}

.chatcolor3{
    background: #706E57;
    color: #000000;
}

.chatcolorf{
    background: url(../images/buttons/fcolor.gif) no-repeat center center;
    text-indent: -1000px;
    border: 0px none;
    width: 16px;
    height: 16px;
}

.chatcolorbg{
    background: url(../images/buttons/bgcolor.png) no-repeat center center;
    text-indent: -1000px;
    border: 0px none;
    width: 16px;
    height: 16px;
}

.sec_view{
    display: block;
    float: right;
    width: 10px;
    height:10px;
    margin-right: 5px;
    cursor: pointer;
}

.sec_open{
    background:url(../images/buttons/arrow_down.gif) no-repeat;
}

.sec_close{
    background:url(../images/buttons/arrow_right.gif) no-repeat;
}

.talking-ps{
    width:344px;
    height:88px;
    float:left;
    padding:0;
    text-align: justify;
    
}

.talking-ps-1{
    background:#28271f url(../images/ballon/buble1.png) left no-repeat;
}
.talking-ps-0{
    background:#28271f url(../images/ballon/buble2.png) left no-repeat;
}

.talking-ps-1 div{
    padding: 5px 15px 10px 110px;
}

.talking-ps-0 div{
    padding: 5px 85px 10px 40px;
}


/* ThreadedNotes */
ul.thread-notes {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.note {
	padding-bottom: 1.2em;
}

.note-text {
	font-size: 1.2em;
	padding-bottom: 0.5em;
}

.note-meta {
	font-size: 1.2em;
}

.note-meta span {
	display: inline-block;
	vertical-align: top;
}

.mayhem_counter {
	width: 65px; height: 65px; background: url(/images/zombie/badge_counter.png); background-repeat: no-repeat; font-size: 12pt; font-weight: bold; text-align: center;
}

.mayhem_attack_infected {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

.username.custom.html {
    font-weight: bold;
}

.username.custom.html .hover {
    display: none;
}